networks:
  iot_net:
    ipam:
      config:
        - subnet: 172.30.0.0/24

services:
  gateway:
    build: ./gateway
    container_name: gateway
    cap_add:
      - NET_RAW
    healthcheck:
      test: ["CMD-SHELL", "sleep 1"]
      interval: 5s
      retries: 1
    networks:
      iot_net:
        ipv4_address: 172.30.0.2

  device1:
    build: ./iot_device
    depends_on:
      gateway:
        condition: service_healthy
    networks:
      iot_net:
        ipv4_address: 172.30.0.10

  device2:
    build: ./iot_device
    depends_on:
      gateway:
        condition: service_healthy
    networks:
      iot_net:
        ipv4_address: 172.30.0.11
