version: "3.8"

services:

  gateway:
    build:
      context: .
      dockerfile: gateway/Dockerfile
    container_name: gateway
    cap_add:
      - NET_RAW
    env_file:
      - net_config.env
    healthcheck:
      test: ["CMD-SHELL", "sleep 1"]
      interval: 5s
      retries: 1
    volumes:
      - ./traffic_data:/app/data
    networks:
      iot_net:
        ipv4_address: 172.30.0.2

  device1:
    build: ./iot_device
    env_file:
      - net_config.env
    depends_on:
      gateway:
        condition: service_healthy
    networks:
      iot_net:
        ipv4_address: 172.30.0.10

  device2:
    build: ./iot_device
    env_file:
      - net_config.env
    depends_on:
      gateway:
        condition: service_healthy
    networks:
      iot_net:
        ipv4_address: 172.30.0.11

  attacker_device:
    build: ./attacker_device
    container_name: attacker_device
    depends_on:
      gateway:
        condition: service_healthy
    networks:
      iot_net:
        ipv4_address: 172.30.0.12


networks:
  iot_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.30.0.0/24
